body {
  background-color: lightgray;
}

#title {
  font-family: "Courier New", Courier, monospace;
  font-weight: normal;
  font-size: 2vw;
  display: inline;
}

#gitlink {
  font-family: "Courier New", Courier, monospace;
  font-weight: normal;
  font-size: 2vw;
  color: inherit;
  text-decoration: inherit;
  float: right;
}

hr {
  margin: auto;
}
#container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  justify-content: center;
  align-items: center;
}

#winner {
  font-family: "Courier New", Courier, monospace;
  font-size: 20pt;
  display: inline;
}

#instructions {
  font-family: sans-serif;
  font-size: 14pt;
}
